{% load i18n %}
{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

{% blocktrans %}Your username, in case you’ve forgotten: {{ user.get_username }}{% endblocktrans %}

{% trans "Follow the link below to reset your password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Your password reset link is only valid for the next {{ timeout }} hours.{% endblocktrans %}

{% blocktrans %}If you didn't request a password reset, please ignore this email.{% endblocktrans %}
{% endautoescape %}
